.container {
  width: 700px;
  height: 700px;
  margin: 0% auto;
}

.heading1,
.heading2 {
  text-align: center;
}

.block-left {
  width: 50%;
  height: 60vh;
  box-sizing: border-box;
  float: left;
  font-family: "Koulen", cursive;
}
.block-left :hover {
  display: inline-block;
  border: 5px burlywood dashed;
}

.block-right {
  width: 50%;
  height: 60vh;
  box-sizing: border-box;
  float: right;
  background-image: url(tree.jpeg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border: 0.5em black solid;
}
